cogs/commands/__pycache__/avatar.cpython-37.pyc
cogs/commands/__pycache__/timer.cpython-37.pyc
cogs/commands/__pycache__/vote.cpython-37.pyc
cogs/events/__pycache__/error.cpython-37.pyc
cogs/events/__pycache__/message.cpython-37.pyc
cogs/events/__pycache__/bot_join_rem.cpython-37.pyc
cogs/events/__pycache__/delete.cpython-37.pyc
cogs/events/__pycache__/edit.cpython-37.pyc
cogs/commands/rect_test.py
cogs/commands/__pycache__/bot_info.cpython-37.pyc
cogs/commands/__pycache__/role_count.cpython-37.pyc
cogs/commands/__pycache__/role_info.cpython-37.pyc
cogs/commands/__pycache__/titen.cpython-37.pyc
cogs/commands/__pycache__/weather.cpython-37.pyc
cogs/commands/__pycache__/rect_test.cpython-37.pyc
__pycache__/def_list.cpython-37.pyc
cogs/commands/__pycache__/d_bump.cpython-37.pyc
cogs/commands/__pycache__/myrole.cpython-37.pyc
cogs/events/__pycache__/loops.cpython-37.pyc
__pycache__/help_list.cpython-37.pyc
__pycache__/helps.cpython-37.pyc
cogs/events/__pycache__/member_join.cpython-37.pyc
cogs/events/__pycache__/member_rem.cpython-37.pyc
cogs/commands/__pycache__/help.cpython-37.pyc
cogs/guilds/__pycache__/shiba.cpython-37.pyc
obj/bot-cog.csproj.nuget.cache
obj/bot-cog.csproj.nuget.g.props
obj/bot-cog.csproj.nuget.g.targets
obj/project.assets.json
__pycache__/citycodes_dic.cpython-37.pyc
__pycache__/help_def.cpython-37.pyc
__pycache__/tokens.cpython-37.pyc
cogs/commands/__pycache__/dm.cpython-37.pyc
cogs/commands/__pycache__/guilds.cpython-37.pyc
cogs/commands/__pycache__/help_page_move.cpython-37.pyc
cogs/commands/__pycache__/help_send.cpython-37.pyc
cogs/commands/__pycache__/members.cpython-37.pyc
cogs/commands/__pycache__/roles.cpython-37.pyc
bot-cog.csproj
Program.cs
.vscode/launch.json
.vscode/settings.json
sukure.py