discord.py[voice]>=1.4.1
bs4~=0.0.1
requests~=2.24.0
jishaku
selenium==3.141.0
chromedriver-binary==85.0.4183.38.0
python-dotenv~=0.14.0
urllib3
beautifulsoup4~=4.9.1
dropbox~=10.3.0
paramiko~=2.7.1
asyncio~=3.4.3
psycopg2~=2.8.5